*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
}

.header{
    font-family: 'Roboto Slab', serif;
}
.header_top{
    background-color: #303030;
    line-height: 36px;
    color: #ffc222;
}
.header_top a:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
}

.header_contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header_phone,
.header_mail,.header_btn{
    letter-spacing: 0.25px;
    line-height: 45px;
    color: #ffc222;
}
.header_phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header_mail{
    padding-left: 25px;
}
.header_btn{
    padding-left: 500px;
}

.header_content{
    background-image: url(../img/btns.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;

}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.fas{
    font-size: 24px;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 26px;
    border: 3px solid #000000;
    padding: 0px 16px;
    transition: all .3s;
    box-shadow: 0 0 10px #000000;
}
.menu a:hover{
    border-color: #303030;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
}
.menu li{
    padding: 10px;
}
.slaider{
    background-image: url(../img/sf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 390px;
}
.slaider_item-content{
    text-align: center;
    padding-top: 70px;
    max-width: 665px;
    margin: 0 auto;
    cursor: grab;
}
.slaider_title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.slaider_text{
    line-height: 24px;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.default-btn{
    color: #36343a;
    display: inline-block;
    line-height: 30px;
    font-size: 18px;
    font-weight: 750;
    font-family: 'Roboto', sans-serif;
    border: 5px solid transparent;
    border-color: #36343a;
    border-radius:2px;
    background-image: url(../img/btns.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 20px 7px 20px;
    outline: none;
     
}
.default-btn:hover{
    box-shadow: 0 0 10px #000000;
}    

.fa-angle-right{
    right: 0;
}
.slider{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 50%;
    z-index: 3;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #36343a;
    border: 2px solid;
    outline: none;
    cursor: pointer;
}
.slick-next{
    border: transparent;
    right: 0;
}
.slick-prev{
    border: transparent;
    left: 0;
}