*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
}

.header{
    font-family: 'Roboto Slab', serif;
}
.header_top{
    line-height: 36px;  
    background-color: rgb(35, 31, 32);
}
.header_top a:hover{
    text-decoration: underline;
}

.header_contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header_phone,
.header_mail{
    letter-spacing: 0.25px;
    line-height: 45px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}
.header_phone:hover{
    color: rgb(118, 205, 216);
}
.header_mail:hover{
    color: rgb(118, 205, 216);
}
.header_btn{
    letter-spacing: 0.25px;
    line-height: 45px;
    float: right;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}
.header_btn:hover{
    color: rgb(118, 205, 216);
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.fas{
    font-size: 24px;
}

.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid #474747;
    padding: 0px 16px;
    transition: all .3s;
    box-shadow: 0 0 10px #585858;
    background-image: url(../img/btns.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu a:hover{
    border-color: #474747;
    border-radius: 20px;
    box-shadow: 0 0 10px #585858;
}
.menu li{
    padding: 10px;
}
.slaider{
    background-image: url(../img/sf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 390px;
}
.slaider_item-content{
    text-align: center;
    padding-top: 70px;
    max-width: 665px;
    margin: 0 auto;
    cursor: grab;
}
.slaider_title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.slaider_text{
    line-height: 24px;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.default-btn{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: #36343a;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 10px 17px 7px 20px;
    border: 1px solid transparent;
    position: relative;
    z-index: 2;
    outline: none;
    border-color: #474747;
    border-radius:4px;
    background-image: url(../img/btns.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;     
}
.default-btn:hover{
    box-shadow: 0 0 10px #000000;
}    

.fa-angle-right{
    margin-left: 10px;
}
.slider{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 50%;
    z-index: 3;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #36343a;
    border: 2px solid;
    outline: none;
    cursor: pointer;
}
.slick-next{
    border: transparent;
    right: 0;
}
.slick-prev{
    border: transparent;
    left: 0;
}
.services{
    padding: 50px 0px 30px;
}
.services_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services_title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services_title-box:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #303030;
    left: 0px;
    top: 11px;
}
.services-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #303030;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}
.services_text{
    letter-spacing: 0.1px;
}
.services_btn a{
    color: #303030;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #9c9c9c;
}
.services_items{
    display: flex;
    justify-content: space-between; 
}
.services_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #ffffff;
    box-shadow: 0px 7px 24.3px 2.7px #8f8f8f;
}
.services_item-title{
    color: black;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 24px 0;
}
.services_item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}
.services_item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services_item-btn .default-btn{
    color: #36343a;
}
.services_item-link{
    color: #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    margin-right: 60px;
}
.about{
    background-color: #353535;
    min-height: 300px;
    padding: 25px 0px 45px;
}
.about_inner{
    max-width: 850px;
}
.about_title{
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
}
.about_text{
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #ffffff;
}
.about_inner .default-btn{
    background-image: none;
    color: rgb(255, 255, 255);
    border: 2px solid;
}
.about_inner .default-btn:hover{
    box-shadow: 0 0 10px #ffffff;   
}